@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    text-decoration: none;     
    
  }  
  body {
    background-color: #8acef5;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  
  }
  .navbar {
    background-color: #fff;
    width: 100%;
    height: 20px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
  }
  .navbar ul{
    display: flex;
    margin: 0 auto;
    width: fit-content; 
    list-style: none;
    
  }
  .navbar ul li{
    color: black;   
    padding: 0 20px;
       
  }
  .main {
    display: block; 
    height: 30rem;
    padding: 10px auto; 
  }
 
  .main h1{
   display: block;
   text-align: center;
   margin-top: 10rem;
   font-weight: bold;   
   font-size: 2rem;
   text-shadow: 2px 2px rgb(5, 4, 4);
   background-color: rgb(51, 37, 46);
   color: #8acef5;
   padding: 2rem;
   }
  
  .main h3 {    
    text-align: center;
    font-size: 1.5rem;
  }
  .mission{
      padding: 1rem;
      margin: 4rem auto;
      background-color: rgb(51, 37, 46);
      color: white;
  }
  .mission h2 {
    color: #8acef5;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 2px black;
  }
  .mission p {    
    font-size: 1.5rem;
    text-align: left;
    
  }
  .mission a{
      background-color: white;
      color:rgb(51, 37, 46);
      border-radius: 5px;
      padding: 3px;
      font-weight: bold;
      cursor: pointer;


  }
  .photos {
    margin: 4em auto;
  }
  
  
  .photos img {
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    margin: 1.5%;
  }
  .quote{
      background-color: white;
      color:rgb(51, 37, 46);
      padding:0 1rem;
      padding-top: 1rem;
      height: 20rem;
  }
  
  .quote h1 {
    font-family: 'Prompt';
    
    font-size: 2rem;
  }
  .quote p {
    font-size: 1rem;   
    text-align: left;
  }

  .meetup{
      margin-bottom: 2rem;
  }
.meetup h2{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color:rgb(51, 37, 46);

}
.meetup img{
    width: 50%;
    margin: auto;
    height: auto;
    display: block;
}
  footer .navbar ul{
    display: block;
    margin: 0 auto;
   width: fit-content;
  }
  footer .navbar ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 20px;
    margin: 0 auto;
    color: black;
    font-family: 'Open Sans condensed';
  }
  @media for screen only and(max-width: 1080px){
      .photos img{
          width: 100%;
          margin-left: auto;
          margin-right: auto;
      }
  
  }
  